<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC
        "-//mybatis.org//DTO Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.beonse2.domain.mate.board.mapper.MateBoardMapper">

    <insert id="saveMateBoard" parameterType="mateBoardVo">
        INSERT INTO mateboard(mbid, member_mid, title, content, branch_name)
        VALUES (mateBoard_seq.NEXTVAL, #{memberMid}, #{title}, #{content}, #{branchName})
    </insert>

    <select id="findAllMateBoard" resultType="mateBoardListDTO">
        SELECT mb.mbid, mb.title, mb.modified_at, m.nickname, m.payment_amount
        FROM mateboard mb
            JOIN member m
                ON mb.member_mid = m.mid
        WHERE mb.status = '0'
    </select>

    <select id="findById" resultType="mateBoardDTO" parameterType="long">
        SELECT mb.mbid, mb.title, mb.content, mb.created_at, mb.modified_at, m.nickname, m.payment_amount
        FROM mateboard mb
            JOIN member m
                ON mb.member_mid = m.mid
        WHERE mb.mbid = #{value}
        AND mb.status = '0'
    </select>

    <update id="updateMateBoard" parameterType="mateBoardUpdateDTO">
        UPDATE mateboard
        SET title = #{title}, content = #{content}, branch_name = #{branchName}
        WHERE mbid = #{mbid}
    </update>

    <update id="deleteById" parameterType="long">
        UPDATE mateboard
        SET status = '1'
        WHERE mbid = #{value}
    </update>

</mapper>
