<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTO Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.beonse2.domain.myPage.mapper.MyPageMapper">

<!--    <sql id="memberColumns">
    <![CDATA[
          mid
        , email
        , nickname
        , password
        , name
        , address
        , role
        , paymentAmount
        , status
        , image
        ,isApproval
        , createAt
        , modifiedAt
    ]]>
    </sql>-->

<!--내 정보 : 이미지, 등급(결제금액) , 닉네임, 보유 포인트-->

    <select id="findById" parameterType="Long" resultType="myPage" >
        SELECT MID, NICKNAME, PAYMENT_AMOUNT, IMAGE, POINT_AMOUNT, PAYMENT_AMOUNT
        FROM MEMBER
        WHERE MID = #{mid}
    </select>

</mapper>