<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTO Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.beonse2.domain.reservation.mapper.ReservationMapper">

<!--    <sql id="reservationColumns">
    <![CDATA[
          rvid
        , memberId
        , branchId
        , reservationTime
        , status
    ]]>
    </sql>-->

<!-- 게시글 작성 -->
    <insert id="createReservation" parameterType="com.beonse2.domain.reservation.vo.Reservation" >
        INSERT INTO RESERVATION (RVID, MEMBER_MID, BRANCH_BID, RESERVATION_TIME, STATUS)
        VALUES (REVIEWBOARD_SEQ.nextval, #{memberId}, #{branchId}, #{reservationTime}, '0')
    </insert>

    <select id="findMyReservations" parameterType="Long" resultType="com.beonse2.domain.reservation.dto.ReservationResponseDTO">
        SELECT R.RVID, R.MEMBER_MID, R.BRANCH_BID, B.NAME AS BRANCH_NAME, R.RESERVATION_TIME, R.STATUS
        FROM RESERVATION R, BRANCH B
        WHERE R.BRANCH_BID = B.BID
        AND R.BRANCH_BID = #{branchBid}
        ORDER BY R.RVID DESC
    </select>

</mapper>