<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTO Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.beonse2.domain.reviewBoard.mapper.ReviewBoardMapper">

<!--    <sql id="reviewColumns">
    <![CDATA[
          rbid
        , memberId
        , branchId
        , title
        , content
        , status
        , createAt
        , modifiedAt
    ]]>
    </sql>-->

<!-- 게시글 작성 -->
    <insert id="createReviewBoard" parameterType="reviewBoardDTO" >
        INSERT INTO REVIEWBOARD(RBID, MEMBER_MID, BRANCH_BID, COUPON_CID, TITLE, CONTENT, IMAGE)
        VALUES (REVIEWBOARD_SEQ.nextval, #{memberMid}, #{branchBid}, #{couponCid}, #{title}, #{content},
        <choose>
            <when test="image != null">
                #{image},
            </when>
            <otherwise>
                NULL
            </otherwise>
        </choose>)
    </insert>

<!--게시글 조회-->
    <select id="reviewBoardList" parameterType="Long" resultType="reviewBoardDTO">
        SELECT R.RBID, R.MEMBER_MID, M.EMAIL AS WRITER, R.BRANCH_BID, B.NAME AS BRANCHNAME, R.TITLE, R.CONTENT, R.STATUS, R.IMAGE, R.CREATED_AT, R.MODIFIED_AT
        FROM REVIEWBOARD R, MEMBER M, BRANCH B
        WHERE R.MEMBER_MID = M.MID
        AND R.BRANCH_BID = B.BID
        ORDER BY R.CREATED_AT DESC
    </select>

<!--단일 조회-->
    <select id="findByReviewBoardId" resultType="reviewBoardDTO" parameterType="Long">

        SELECT
            R.RBID,
            R.MEMBER_MID,
            M.EMAIL AS WRITER,
            R.BRANCH_BID,
            B.NAME AS BRANCHNAME,
            R.TITLE,
            R.CONTENT,
            R.STATUS,
            R.IMAGE,
            R.CREATED_AT,
            R.MODIFIED_AT
        FROM
            REVIEWBOARD R, MEMBER M, BRANCH B
        WHERE
            R.MEMBER_MID = M.MID
          AND R.BRANCH_BID = B.BID
          AND R.RBID = #{rbid}
        ORDER BY
            R.CREATED_AT DESC
    </select>

    <!--게시글 수정-->
    <update id="updateReviewBoard" parameterType="reviewBoardDTO">
        UPDATE REVIEWBOARD
        SET TITLE = #{title}, CONTENT = #{content},
        <choose>
            <when test="image != null">
               IMAGE =  #{image},
            </when>
            <otherwise>
                IMAGE =  NULL,
            </otherwise>
        </choose>
            MODIFIED_AT = sysdate WHERE RBID = #{rbId}
    </update>

<!--게시글 삭제-->
    <update id="deleteReviewBoard" parameterType="Long">
        UPDATE REVIEWBOARD
        SET
            STATUS = 1
        WHERE
            RBID = #{rbId}
    </update>
</mapper>